	<nav class="navbar">
		<div class="container">
			<div class="navbar-content">
				<h1><a href="../../index.html">Movie<span>Review</span></a></h1>
				<ul>
					<li><a href="home.html">Home</a></li>
					<li><a href="movie_list.html">Browse Movies</a></li>
					<li><a href="watchlist.html" class="active">My Watchlist</a></li>
					<li><a href="my_reviews.html">My Reviews</a></li>
					<li><a href="../auth/logout.html">Logout</a></li>
				</ul>
				<div class="bar-icon">☰</div>
			</div>
		</div>
	</nav>