<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Review</title>
    <link rel="stylesheet" href="/assets/css/navbar.css">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <div class="navbar-content">
                <h1><a href="/index.html">Movie<span>Review</span></a></h1>
                <ul>
                    <li><a href="/index.html">Home</a></li>
                    <li><a href="/pages/user/movie_list.html">Browse Movies</a></li>
                    <li><a href="/pages/auth/login.html">Login</a></li>
                    <li><a href="/pages/auth/signup.html">Sign Up</a></li>
                </ul>
            </div>
        </div>
    </nav>
</body>
</html>
